body{
    background-image: url("https://images6.alphacoders.com/405/405481.jpg");
    background-size: 1550px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Titlu{
    text-align: center;
    font-size:  7.4vw;
    margin-bottom: 40px;
    background-color: rgba(255, 253, 195, 0.90);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 100);
    border-radius: 1rem;
}
#MeniuDropDown{ 
    display: flex;
    flex: 1;
    position: relative;
    text-align: center;
    color: black; 
}
#ListMenuContent{
    display: inline-block;
}
#ListMenuContent-a{
    text-decoration: none; 
    color: black;
    padding: 0 10px;
    font-size: 3.5vh;
    position: relative;
    background-color: rgba(255, 253, 195, 0.90);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0);
    border-radius: .20rem;
}
#ListMenuContent-a::after{
    content: '';
    width: 0;
    height: 15px;
    background-color: #ff9966;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -100%;
    border-radius: .20rem;
    transition: 0.75s;
}
#ListMenuContent-a:hover::after{
    width: 100%;
}
#listaMenu{
    flex: 1;
    list-style: none;
    text-align: center;
}
#citat{
    font-size: 3.5em;
    text-align: center;
    margin-top: 18vh;
    background-color: #ffffcc;
    background: rgba(255, 253, 195, 0.90);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 100);
    border-radius: 1rem;
}
